.comment{ id: "comment_#{comment.id}"}
  - cache [comment, user_signed_in?, current_user.author?(comment)] do
    = comment.body

  - if current_user.try(:author?, comment)
    = link_to 'Delete', comment, method: :delete, remote: true, format: :js