!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body
    %h1 New answer create for #{@answer.question.title}
    %p
      = @answer.body
    %p
      = link_to "#{@answer.question.title}", @answer.question
